:root {
    --fuentePrincipal: 'Nova Square', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --primary: #f94e05;
    --secondary: #fcb01a;
    --black: #1F1E1E;
    --gris: #3B3B3B;
    --grisClaro: #e1e1e1;
    --white: #FFF;
    --separacion: 5rem;
    --background-gradient: linear-gradient(180deg, #fabd45, #fe601e);
    --background-hover: linear-gradient(180deg, var(--secondary), var(--primary));

    --first-color: hsl(82, 60%, 28%)
    --title-color: hsl(0, 0%, 15%)
    --text-color: hsl(0, 0%, 35%)
    --body-color: hsl(0, 0%, 95%)
    --container-color: hsl(0, 0%, 100%)
}

/* Etiquetas Globales */

html {
    box-sizing: border-box;
}

*,
*before,
*after {
    box-sizing: inherit;
    font-size: 62.5%;
}


body {
    font-family: var(--fuenteSecundaria);
    font-size: 1.2rem;
    line-height: 1.5rem;
    /* background: linear-gradient(to left, rgba(78, 80, 81), rgba(35, 37, 38)); */

}

h1,
h2,
h3,
h4 {
    font-family: var(--fuentePrincipal);
    font-weight: 900;
    margin: .8rem 0;
    line-height: 1;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

a {
    text-decoration: none;
    color: #e1e1e1;
    font-size: 1.2rem;
    font-family: var(--fuenteSecundaria);
}


/* Clases globales */

.container {
    max-width: 120rem;
    width: 90%;
    margin: 5rem auto;
}

/* Utilidades */
.text-center {
    text-align: center;
}

.link {
    padding: .5rem;
    position: relative;
}

.link::after {
    content: '';
    height: 4px;
    width: 0;
    background: linear-gradient(to right, #fabd45, var(--primary));
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: .5s;
    will-change: width;
}

.link:hover::after {
    width: 100%;
    left: 0;
}

.link:active::after {
    width: 100%;
    left: 0;
}


.btn {
    background: #fc4a1a;
    background: linear-gradient(180deg, #fabd45, var(--primary));
    border: 1px solid transparent;
    border-radius: 8px;
    color: var(--black);
    font-weight: 600;
    font-size: 1.1rem;
    padding: .7rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--background-hover);
    border: 1px solid var(--white);
}

.gradient-text {
    background: linear-gradient(180deg, #fabd45, var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero {
    background-color: #3B3B3B;
    background-image: url(../image/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    min-height: 100vh;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 5rem;
}

.main-logo {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    font-size: 1rem;
    max-width: 8rem;
    line-height: 1;

    & p {
        font-family: var(--fuentePrincipal);
        font-size: 1.5rem;
        color: var(--white);
    }

    & span {
        font-family: var(--fuentePrincipal);
        font-size: 1.5rem;
    }

    @media (min-width:768px) {
        font-size: 1.4rem;
    }
}


.abrir-menu,
.cerrar-menu {
    display: none;
}


.nav {

    & p {
        color: var(--white);
        font-family: var(--fuentePrincipal);
        font-size: 1.6rem;
        font-weight: 600;
    }
}


.nav-list {
    list-style: none;
    display: flex;
    flex-grow: 2;
    place-content: center;
    gap: 1rem;
    padding: 0;
}

.barra .btn-curriculum {
    display: none
}

@media screen and (max-width: 1024px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        color: var(--grisClaro);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 2rem;
        right: 2rem;
        padding-top: 1.1rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .abrir-menu.hidden {
        opacity: 0;
        visibility: hidden;
    }

    .cerrar-menu {
        display: block;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        align-items: end;
        margin-top: .6rem;
        color: var(--grisClaro);
    }
}

@media (min-width:1024px) {
    .barra .btn-curriculum {
        display: block;
    }

}


& .portada {
    height: calc(100vh - 21rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--white);

    @media (min-width:768px) {
        height: calc(100vh - 26rem);
    }

    & h1 {
        font-size: 2rem;

        @media (min-width:768px) {
            font-size: 4.4rem;
        }
    }

    & p {
        font-family: var(--fuenteSecundaria);
        font-size: 1.4rem;
        margin: 0 auto;
        line-height: 1.1;
        color: var(--grisClaro);

        @media (min-width:768px) {
            font-size: 2.5rem;
            padding: 0 1rem;
        }
    }
}


/* proyectos */

.header__proyectos {
    position: relative;
    display: block;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.header__proyectos::after {
    content: '';
    display: block;
    width: 227px;
    height: 4px;
    background: var(--background-gradient);
    position: absolute;
    bottom: -10px;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 9rem;
}

.proyecto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 2px solid gray;
    border-radius: 15px;
    max-width: 30rem;
    padding-bottom: 1rem;

    & .img-proyecto {
        display: flex;
        justify-content: center;
        width: 100%;

        & img,
        video {
            border-radius: 14px;
            width: 100%;

        }
    }

    & .info-proyecto {
        padding: 0 2rem;

        & p {
            text-wrap: balance;
            margin-bottom: 2rem;
        }
    }

    & .icons {
        display: grid;
        grid-template-columns: 2fr 1fr;

        & img {
            width: 2rem;
        }

    }

    & .lenguajes {
        display: flex;
        gap: 1rem;
        justify-items: center;
        align-items: center;
        padding: 0 2rem;

        & .lenguaje {

            & img {
                width: 2rem;
            }
        }
    }

    & .sitio-web {
        display: flex;
        justify-content: center;
        gap: 1rem;

    }


}




.about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    padding: 0 5rem;
}

.image {
    display: inline-block;
    /* flex-grow: 1; */
    flex-basis: auto;
    width: 21rem;
    height: 27rem;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 22%;
    position: relative;
    background-image: url(../image/fernando.JPG);
}

.information {
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.information h2 {
    position: relative;
    padding: 1rem 0;
    margin-bottom: 0;
}

.information h2::after {
    content: '';
    display: block;
    height: 4px;
    width: 69%;
    background: var(--background-gradient);
    position: absolute;
    bottom: -2px;
}

/* bbotones de iconos */

.icons-container {
    display: flex;
    gap: 2rem;
    width: 20rem;
}

.icons-container .boton {
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background: var(--background-gradient);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s easy-out;
    position: relative;
}

.icons-container .boton::after {
    content: "" attr(data-id) "";
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    display: none;
    padding: .2rem .5rem;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: -40px;
    left: 0px;
    transition-property: display;
    transition-duration: .3s;
}

.icons-container .boton:first-child::after {
    left: -50px;
}

.icons-container .boton:hover::after {
    display: block;
}


.icons-container .boton .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;

}

.icons-container .boton a {
    font-size: 25px;
    line-height: 60px;
    color: black;
}


.icons-container .boton span {
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
}



.conocimiento {

    & .conocimiento__contenido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/* contacto */

.contacto {
    padding: 2rem 0;

    & h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
}

.formulario {
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto 0;
    font-family: var(--fuenteSecundaria);


    & div {
        display: grid;
        margin: .2rem 0;

        & label {
            font-weight: 600;
            padding: .2rem 0;
        }

        & input,
        & textarea {
            padding: .6rem;
            border: 1px solid var(--gris, black);
            border-radius: 5px;
        }
    }

    & input[type="submit"] {
        margin-top: .5rem;
        padding: .5rem;
        font-size: 1.4rem;
        font-weight: 600;
        background: var(--background-gradient, #fe601e);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition-property: background;
        transition-duration: .3s;
    }

    & input[type="submit"]:hover {
        background: var(--background-hover);
    }
}

.footer {
    padding: .9rem 0;
    display: flex;
    background: #232526;
    background: linear-gradient(to left, #4e5051, rgba(35, 37, 38));



    & .footer__contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        flex-basis: auto;
        margin: 0;
        margin-left: 4rem;


        & h4 {
            color: var(--white);
            margin: 0;
        }

        & p {
            font-size: 1.2rem;
            margin: 0;
        }
    }

    & .email {
        color: var(--white);
        font-family: var(--fuenteSecundaria);
        font-size: 1.2rem;
    }

    & .btn-curriculum {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 4rem;
        flex-grow: 1;
        flex-basis: auto;
    }
}


.btn-prueba {

    display: inline-block;
    width: 50px;
    height: 50px;
    background: green;
    position: relative;

    & a {
        color: black;
    }
}

.btn-prueba::after {
    content: '';
    display: none;
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: -60px;
}

.btn-prueba:hover::after {
    display: block;
}


.contacto {
    background-color: #4e5051;
}

.cards {
    display: grid;
    place-items: center;
    margin-inline: 0;
    padding-block-end: 5rem;
}

.card__container {
    display: grid;
    row-gap: 6rem;

    @media (min-width:768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
    }
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 34rem;
    border-radius: 1.5rem;
}

.card__data {
    width: 83%;
    background-color: var(--white);
    padding: 1.5rem 1rem;
    box-shadow: 0 8px 24px hsl(0 0% 0% / 15%);
    border-radius: 1rem;
    position: absolute;
    bottom: -10rem;  
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}

.card__footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    padding-right: 1rem;
}

.card__tecnologies {

    display: flex;
    gap: 1rem;

    & img {
        width: 20px;
    }
}

.card__title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0;

    @media (min-width:1024px) {
        font-size: 2.6;
    }
}

.card__description {
    display: block;
    margin-bottom: .25rem;
    text-overflow: ellipsis;
}

.card__button {
    display: flex;
    justify-content: flex-end;
    color: var(--black);
    font-size: 1.1rem;
    color: var(--primary);
    cursor: pointer;
}

.card__button:hover {
    text-decoration: underline;
}

/* Animacion en hover*/
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}



/* animacion card */
@keyframes show-data {
    50% {
        transform: translateY(-11rem);
    }
    100% {
        transform: translateY(-6rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-5rem);
    }
    50%{
        transform: translateY(-11rem);
    }
    100%{
        transform: translateY(4rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }

}
